<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>{{ page.title }}</title>
  <meta name="description" content="Frontenders es una reunión mensual centrada en temas de desarrollo frontend, diseño web, UI y UX.">
  <meta name="author" content="Tony Camaiani http://tony.camaiani.it">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/libs/modernizr.min.js"></script>
</head>

<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div id="container">
    <header class="clearfix">
      <hgroup class="clearfix">
        <h1>
          {% if page.section %}<a href="index.html">{% endif %}
          &lt;frontenders/&gt;
          <span>valencia</span>
          {% if page.section %}</a>{% endif %}
        </h1>

        <h2>
          a meetup for
          <span>Frontend & UI Developers,</span>
          <span>UX & Web Designers</span>
        </h2>
        <nav>
          <ul>
            {% if page.section == "what_is" %}
            <li><a class="selected" href="#">¿Que es?</a></li>
            {% else %}
            <li><a href="frontenders.html">¿Que es?</a></li>
            {% endif %}
            {% if page.section == "past" %}
            <li><a class="selected" href="#">Anteriores</a></li>
            {% else %}
            <li><a href="past.html">Anteriores</a></li>
            {% endif %}
          <ul>
        </nav>
      </hgroup>
    </header>

    {{ content }}

    <footer class="clearfix">
     <section class="first">
        <h3>Participa</h3>
        <p>
          ¿Quieres participar en una de las
          próximas reuniones? Escribe a
          <a href="mailto:frontendersvalencia@gmail.com">frontendersvalencia@gmail.com</a>
        </p>
      </section>
      <section class="middle">
        <h3>Síguenos</h3>
        <p>
          <a target="_blank" href="https://twitter.com/frontendersVLC">@frontendersVLC</a>
          <a target="_blank" href="https://twitter.com/search?q=%23frontendersVLC">#frontendersVLC</a>
        </p>
      </section>
      <section class="last">
        <h3>Partner</h3>
        <p>
          <a class="ir block workether" target="_blank"  href="http://www.workether.com/" title="Workether / Inspiración Colectiva y Coworking en Valencia">Workether</a>
        </p>
      </section>
    </footer>
  </div> <!--! end of #container -->
  <script>
    var _gaq=[['_setAccount','UA-39434678-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
